include LICENSE
include README.rst
include src/py2cpp/*.py
include src/py2cpp/tests/*.py
include src/py2cpp/util/*.py
include src/py2cpp/util/tests/*.py
include src/py2cpp/util/2to3/*
include src/py2cpp/util/2to3/epydoc/*.py
include src/py2cpp/util/2to3/epydoc/docwriter/*.py
include src/py2cpp/util/2to3/epydoc/markup/*.py
include src/py2cpp/util/2to3/epydoc/test/*.py
include src/tuple_parser/*
